body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgray;
}

th, td {
    padding: 10px;
}

header {
    font-size: 46px;
}

th {
    font-size: 18px;
}

td {
    text-align: center;
}